{% extends "web/base.html" %}

{% block content %}
    <h4 class="text-center mb-4 mt-3">
        Enter city name or select from the list to view the chart
    </h4>
    <form class="form-group mt-3" action="{% url 'chart_by_name' %}" method="post">
        <div class="row">
            <div class="col-sm-9">
                <input type="text" class="form-control" name="city_name" placeholder="Enter city">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <hr>
    <h4 class="text-center mb-4">
        All Provinces
    </h4>
    {% for prov in provinces %}
        <p>
            <a class="btn btn-primary w-100"
               data-toggle="collapse"
               href="#collapseExample-{{ prov.name }}"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                {{ prov.name }}
            </a>
        </p>
        <div class="collapse" id="collapseExample-{{ prov.name }}">
            <div class="card card-body">
                <ul class="list-group list-group-flush">
                    {% for s in prov.stations %}
                        <li class="list-group-item">
                            <a href="{% url 'chart' s.id %}">{{ s.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock content %}